body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #E6E6E6;
}

/** conteudo principal **/
.conteudo{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    justify-content: center;
    margin: 0;
}
    .titulo-topo > *{
        text-align: center;
        margin-bottom: 10px;
        font-size: 3rem;
    }

    .cama-jpeg{
        height: 450px;
    }

    .cama-jpeg > img{
        width: 775px;
        border-radius: 5%;
    }
        .teste{
            margin: 0;
            padding: 0;
            position: relative;
            text-align: right;
            bottom: 445px;
            right: 5px;

        }


    .titulo-baixo > *{
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
        .preço{
            color: green;
        }

/** footer e hr**/

hr{
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    width: 40%;
    margin-bottom: 50px;
}
    
.footer{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;
}  

/**telemovel e tablet**/
@media (max-width: 680px) {
    .conteudo {
        grid-template-rows: auto auto auto;
      }
      
      .titulo-topo > * {
        font-size: 3rem;
      }
      
      .cama-jpeg > img {
        width: 100%;
      }
      
      .teste {
        bottom: 300px;
        right: 0;
      }
      
      .titulo-baixo > * {
        margin-top: 10px;
        margin-bottom: 30px;
      }
      
      hr {
        width: 80%;
        margin-bottom: 30px;
      }
      
      .footer {
        flex-wrap: wrap;
        gap: 30px;
      }
}